@font-face {
  font-family: 'fontello';
  src: url(font-path('fontello.eot?91484828'));
  src: url(font-path('fontello.eot?91484828#iefix')) format('embedded-opentype'),
       url(font-path('fontello.woff?91484828')) format('woff'),
       url(font-path('fontello.ttf?91484828')) format('truetype'),
       url(font-path('fontello.svg?91484828#fontello')) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url(font-path('fontello.svg?91484828#fontello')) format('svg');
  }
}
*/
 
 %icon-base {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
%icon-github:before { @extend %icon-base; content: '\e800'; } /* '' */
%icon-bitbucket:before { @extend %icon-base; content: '\e801'; } /* '' */
%icon-user:before { @extend %icon-base; content: '\e802'; } /* '' */
%icon-mail:before { @extend %icon-base; content: '\e803'; } /* '' */
%icon-lock-alt:before { @extend %icon-base; content: '\e804'; } /* '' */
%icon-commerical-building:before { @extend %icon-base; content: '\e805'; } /* '' */
%icon-heart:before { @extend %icon-base; content: '\e806'; } /* '' */
%icon-angle-left:before { @extend %icon-base; content: '\e807'; } /* '' */
%icon-angle-right:before { @extend %icon-base; content: '\e808'; } /* '' */
%icon-paper-plane:before { @extend %icon-base; content: '\e809'; } /* '' */
%icon-facebook-squared:before { @extend %icon-base; content: '\e80a'; } /* '' */
%icon-gplus-squared:before { @extend %icon-base; content: '\e80b'; } /* '' */
%icon-linkedin-squared:before { @extend %icon-base; content: '\e80c'; } /* '' */
%icon-twitter-squared:before { @extend %icon-base; content: '\e80d'; } /* '' */
%icon-record:before { @extend %icon-base; content: '\e80e'; } /* '' */
%icon-twitter-circled:before { @extend %icon-base; content: '\e80f'; } /* '' */
%icon-facebook-circled:before { @extend %icon-base; content: '\e810'; } /* '' */
%icon-quote-left:before { @extend %icon-base; content: '\e811'; } /* '' */
%icon-quote-right:before { @extend %icon-base; content: '\e812'; } /* '' */
%icon-angle-down:before { @extend %icon-base; content: '\e813'; } /* '' */
%icon-cog:before { @extend %icon-base; content: '\e814'; } /* '' */
%icon-off:before { @extend %icon-base; content: '\e815'; } /* '' */
%icon-plus:before { @extend %icon-base; content: '\e816'; } /* '' */
%icon-cancel:before { @extend %icon-base; content: '\e817'; } /* '' */
%icon-angle-up:before { @extend %icon-base; content: '\e818'; } /* '' */
%icon-edit:before { @extend %icon-base; content: '\e819'; } /* '' */
%icon-spin5:before { @extend %icon-base; content: '\e81a'; } /* '' */
%icon-key:before { @extend %icon-base; content: '\e81b'; } /* '' */
%icon-linkedin-circled:before { @extend %icon-base; content: '\e81c'; } /* '' */
%icon-mail-circled:before { @extend %icon-base; content: '\e81d'; } /* '' */
%icon-angellist:before { @extend %icon-base; content: '\e81e'; } /* '' */
%icon-facebook:before { @extend %icon-base; content: '\e81f'; } /* '' */
%icon-twitter:before { @extend %icon-base; content: '\e820'; } /* '' */
%icon-linkedin:before { @extend %icon-base; content: '\e821'; } /* '' */
%icon-mail-alt:before { @extend %icon-base; content: '\e822'; } /* '' */
%icon-emo-sleep:before { @extend %icon-base; content: '\e823'; } /* '' */
%icon-emo-unhappy:before { @extend %icon-base; content: '\e824'; } /* '' */
%icon-emo-wink:before { @extend %icon-base; content: '\e825'; } /* '' */
%icon-trash-empty:before { @extend %icon-base; content: '\e826'; } /* '' */
%icon-info-circled:before { @extend %icon-base; content: '\e827'; } /* '' */

.icon-github { @extend %icon-github; }
.icon-bitbucket { @extend %icon-bitbucket; }
.icon-user { @extend %icon-user; }
.icon-mail { @extend %icon-mail; }
.icon-lock-alt { @extend %icon-lock-alt; }
.icon-commerical-building { @extend %icon-commerical-building; }
.icon-heart { @extend %icon-heart; }
.icon-angle-left { @extend %icon-angle-left; }
.icon-angle-right { @extend %icon-angle-right; }
.icon-paper-plane { @extend %icon-paper-plane; }
.icon-facebook-squared { @extend %icon-facebook-squared; }
.icon-gplus-squared { @extend %icon-gplus-squared; }
.icon-linkedin-squared { @extend %icon-linkedin-squared; }
.icon-twitter-squared { @extend %icon-twitter-squared; }
.icon-record { @extend %icon-record; }
.icon-twitter-circled { @extend %icon-twitter-circled; }
.icon-facebook-circled { @extend %icon-facebook-circled; }
.icon-quote-left { @extend %icon-quote-left; }
.icon-quote-right { @extend %icon-quote-right; }
.icon-angle-down { @extend %icon-angle-down; }
.icon-cog { @extend %icon-cog; }
.icon-off { @extend %icon-off; }
.icon-plus { @extend %icon-plus; }
.icon-cancel { @extend %icon-cancel; }
.icon-angle-up { @extend %icon-angle-up; }
.icon-edit { @extend %icon-edit; }
.icon-spin5 { @extend %icon-spin5; }
.icon-key { @extend %icon-key; }
.icon-linkedin-circled { @extend %icon-linkedin-circled; }
.icon-mail-circled { @extend %icon-mail-circled; }
.icon-angellist { @extend %icon-angellist; }
.icon-facebook { @extend %icon-facebook; }
.icon-twitter { @extend %icon-twitter; }
.icon-linkedin { @extend %icon-linkedin; }
.icon-mail-alt { @extend %icon-mail-alt; }
.icon-emo-sleep { @extend %icon-emo-sleep; }
.icon-emo-unhappy { @extend %icon-emo-unhappy; }
.icon-emo-wink { @extend %icon-emo-wink; }
.icon-trash-empty { @extend %icon-trash-empty; }
.icon-info-circled { @extend %icon-info-circled; }
