.wrapper-content {
  width: 1140px;
  margin: 0 auto;
}

.wrapper-container {
  width: 550px;
  margin: 0 auto;
}

.container {
  padding-top: 30px;
  text-align: center;
  border: 2px solid #d9dddf;
  background-color: #fff;
  width: 650px;
  margin: 180px auto;
}

.container-footer {
  border: 1px solid #eef0f1;
  height: 90px;
  background-color: #f5f7f8;
}

.container-buttons {
  margin: 20px auto;
  height: 50px;
}