/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'api'
 */

#new-todo {
  margin-left: 10px;
}

#clear {
  border: 1px solid black;
  padding: 3px;
  background: red;
  margin-left: 20px;
}

#errors {
  margin-left: 10px;
}

#errors p {
  color: red;
}

#todo_list {
  margin: 10px 10px;
  padding: 0;
  list-style: none;
}

#todo_list li {
  padding: 18px 20px 18px 0;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
}

#todo_list li.done {
  color: red;
}
