h1 Project #{name}:
.form-group
    label id:&nbsp;
    = id

.form-group
    label level:&nbsp;
    = level

.form-group
    label status:&nbsp;
    = status
.back
    a.btn.btn-primary(href=Routes.dashboard_index_path()) back