a.new.btn.btn-primary(href='#') Add Project
table.table.table-striped.table-hover
    thead
        tr
            th id
            th name
            th level
            th status
            th
            th
            th
    tbody
a.load-more-link(href='#load_more') Load more...