a.new(href='#') Add Project
table
    thead
        tr
            th id
            th name
            th level
            th status
            th show
            th destroy
            th edit
    tbody
