a.new.btn.btn-primary(href='#') Add Project
table.table.table-striped.table-hover
    thead
        tr
            th id
            th name
            th level
            th status
            th show
            th destroy
            th edit
    tbody
